<!-- JS libs -->

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/packery.min.js"></script>
<script type="text/javascript" src="/static/js/socketio.js"></script>
<script type="text/javascript" src="/static/js/cookie.js"></script>
<script type="text/javascript" src="/static/js/dshbrd.js"></script>
<script type="text/javascript" src="/static/js/site.js"></script>
<script type="text/javascript" src="/static/js/rtm.js"></script>

<!-- Bower components -->
<link rel="import" href="bower/polymer/polymer.html" />
<link rel="import" href="bower/paper-material/paper-material.html" />

<!-- Plugin components -->
<link rel="import" href="/plugin-components.html"/>
