<script type="text/javascript" src="../../js/freewall.js"></script>

<dom-module id="dshbrd-grid">
    <template>
        <style>
            #grid {
                display: flex;
                display: -ms-flex;
                display: -webkit-flex;
                justify-content: center;
                margin-top: 50px;
                flex-wrap: wrap;
            }
        </style>
        <div id="grid"></div>
    </template>
</dom-module>
<script>
  Polymer({
    is: "dshbrd-grid",
    ready: function(){
      this.grid = document.querySelector("#grid")
    },
    append_grid: function(element){
        this.grid.append(element)
    }
  });
</script>
