<dom-module id="version-bar">
	<template>
		<style>
			#versionBar {
				color: #ffffff;
				font-family: 'Roboto';
				width: 100%;
				text-align: center;
				padding: 10px 0px;
				position: absolute;
				bottom: 0;
				z-index: 1000;
				font-size: 14px;
			}

			#versionBar p {
				font-weight: 100;
			}

			#versionBar a {
	            color: #ffffff;
	            display: block;
	            font-weight: 900;
          	}

          	#versionBar a:hover {
            	opacity: 0.8;
          	}
		</style>
		<div id="versionBar">
			<p>This site is still in {{stage}} stages. Current version: </p><a href="{{ link }}">{{ version }}</a>
		</div>
	</template>
</dom-module>
<script>
	Polymer({
		is: "version-bar",
		properties: {
			colour: String
		},
		ready: function() {
			this.$.versionBar.style.backgroundColor = this.colour;
		}
	});
</script>